# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
bs4
Flask
jupyter
matplotlib
numpy
pandas
requests
scikit-learn
scipy
sklearn-deap
seaborn
xgboost

