.progress{
	display: none;
}

.ajax-file-upload-statusbar{
	margin: auto;
}

.ajax-file-upload-filename{
	display: inline;
}

b{
	display: none;
}

.tabs .tab a{
    color: green;
    text-align: left;
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:green;
}

.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color: green;	
}

.tabs .indicator {
	background-color:green;
}

/* Botão voltar ao topo */
a[href="#top"]{
    position:fixed;
    bottom: 1%;
    right: 1%;
    display:none;
    padding-top: 4px;
}

.features{
	margin: 0px;
}

.ajax-file-upload-error, #erro{
	color: red;
	text-align: center;
}

#sobre{
	padding-top: 4px;
}