{% extends "base.html" %}

{% block content %}
	<h3>Visualize as análises</h3>

	<!-- <form action="analise" method="POST">
		
		<input type="submit" name="">	
	</form>
	 -->

	<h3>Pontuação obtida: {{pontos}}</h3>
	 
	
	{% if not otimizado %}
		<a href="/analise/otimiza?filename={{file}}">otimiza</a>
	{% endif %}

	<div>
		<img src="/static/img/m_corr.png?v={{n}}" >
	</div>

	<div>
		<img src="/static/img/features_importance.png?v={{n}}" >
	</div>

	<div>
		<img src="/static/img/variacao.png?v={{n}}" >
	</div>
	
{% endblock %}