{% extends "base.html" %}

{% block content %}
		
	<form action="#" method="POST">
		<div class="row container">
			<div class="col s12 m12">
			<br>
				<div class="card">
					<span class="card-title">Simulação</span>

					<div class="card-content">
						{% for feature in features %}

							<div class="row">
								<span class="col s12 m2">{{ feature.nome }}</span>
						
								<!-- <span>{{ feature.min }}</span> -->

								<div class="col s12 m9">
									<input type="range" min={{ feature.min }}
									max={{ feature.max }} step="0.001" name="{{ feature.nome }}"
									oninput='document.getElementById("{{ loop.index  }}").value = this.value;'/>
								</div>
								<!-- <span>{{ feature.max }}</span> -->

								<div class="col s12 m1">	
									<input id={{ loop.index }} disabled value="{{ feature.media }}"></input>
								</div>
							</div>

						{% endfor %} 
					</div>

					<div>
						{{nota}}
					    <h4>
						    Sua nota foi:
							{% if nota == 0 %}
								Ruim
							{% elif nota == 1 %}
								Média
							{% elif nota == 2%}
								Ótima
							{% endif %} 
						</h4>
					</div>

					<div class="card-action">
						<button class="btn waves-effect waves-light" type="submit" >Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	
	
{% endblock %}